<nav class="navbar navbar-inverse footer">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/imgs/assurant-footer-logo.png"/></a> <br>
        <p>@ 2022 All right</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav pT10 float_revert">
        <li class="active"><a class=" pR0" routerLink="/claim"><img src="assets/imgs/ssl-logo.jpeg"/></a></li>
        <li class="active"><a class="" routerLink="/claim"><img src="assets/imgs/pci-logo.jpeg"/></a></li> 
      </ul>
      <ul class="nav navbar-nav mB15 decoration">
        <li class="active"><a class="pB0 pT0" routerLink="/home">Home</a></li>
        <li class="active"><a class="pB0 pT0" routerLink="/account">Account</a></li>
        <li class="active"><a class="pB0 pT0" routerLink="/devices">My Devices</a></li> 
      </ul>
      </ul>
    </div>
  </nav>