
<div class="col-sm-12 gray font13 p0 mT10">
    <div class="col-sm-6 pL0 gray"><span>Step {{nextStepe}} of 4</span></div>
    <div class="col-sm-6 pR0 gray"><span class="float_r">{{nextPage}}</span></div>
</div>

<div class="col-sm-12 p0">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step col-xs-4 p0"> 
            <a href="#" type="button" class="btn btn-success btn-circle">1</a>
        </div>
        <div class="stepwizard-step col-xs-4 p0"> 
            <a href="#" type="button" class="btn btn-default btn-circle mL30" disabled="disabled">2</a>
        </div>
        <div class="stepwizard-step col-xs-4 p0"> 
            <a href="#" type="button" class="btn btn-default btn-circle mL45" disabled="disabled">3</a>
        </div>
        <div class="stepwizard-step p0"> 
            <a href="#" type="button" class="btn btn-default btn-circle float_r" disabled="disabled">4</a>
        </div>
    </div>
</div>
</div>