.p0{
    padding: 0;
}
.font13{
    font-size: 13px;
}
.float_r {
    float: right;
}
.gray{
    color: gray;
}

.display_block{
    display: block;
}
.pR20{
    padding-right: 20px;
}
.pL45{
    padding-left: 45px;
}
.pL0{
    padding-left: 0;
}

.pR0{
    padding-right: 0;
}
.mT20{
    margin-top: 20px;
}
.mB20{
    margin-bottom: 20px;
}
.mB30{
    margin-bottom: 30px;
}
.mT10{
    margin-top: 10px;
}