<div class="col-sm-12 top_box">
    <div class="col-sm-12">
        <b>Summary</b>
    </div>
    
    <div class="col-sm-12">
       <app-stepper></app-stepper>
    </div>
</div>


<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <b>Claim Details</b>
        </div>
        <div class="col-sm-6 p0">
            <a href="#" class="right_text"><span class="glyphicon glyphicon-pencil font10"></span> <span
                    class="text_blue display">Edit</span> </a>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Date of incident</span>
        </div>
        <div class="col-sm-6 p0">
            <span class="text_style right_text">12/9/2022</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Reasom of claim</span>
        </div>
        <div class="col-sm-6 p0">
            <span class="text_style right_text">My product is not functioning properly</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Description</span>
        </div>
        <div class="col-sm-6 p0">
            <span class="text_style right_text">Loream type is have </span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>


<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6 p0">
            <b>Fullfillment Information Send to us</b>
        </div>
        <div class="col-sm-6 p0">
            <span class="text_blue right_text">Need a Different Repair Options</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Delivery Address</span>
        </div>
        <div class="col-sm-6 p0">
            <span class="text_style right_text">2 cheeny Road, NA, 0210345</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>


<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <b>Personal Information</b>
        </div>
        <div class="col-sm-6">
            <a href="#" class="right_text"> <span class="glyphicon glyphicon-pencil font10"></span> <span
                    class="text_blue display">Edit</span> </a>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>


<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Full Name</span>
        </div>
        <div class="col-sm-6">
            <span class="text_style right_text">2 cheeny Road, NA, 0210345</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Address</span>
        </div>
        <div class="col-sm-6">
            <span class="text_style right_text">Sane Smith</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Email Address</span>
        </div>
        <div class="col-sm-6">
            <span class="text_style right_text">Sane.Smith@gmail.com</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <span class="text_style">Contact Number</span>
        </div>
        <div class="col-sm-6">
            <span class="text_style right_text">(7701) 552 0206</span>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<div class="col-sm-12 mT30">
    <div class="col-sm-6">
        <button type="button" class="btn btn-back" (click)="step4_back()">Back</button>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary right_text" (click)="step4_next()">submit</button>
    </div>
</div>