.right_box{
    border: 1px solid #80808094;
    background: white;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.left_box{
    border: 1px solid #80808094;
    background: white;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.shopping img{
    width: 80px;
    height: 80px;
}
.display{
    display: inline-block;
}                                                                               
.mL20{
    margin-left: 20px;
}
.mL10{
    margin-left: 10px;
}
.mT20{
    margin-top: 20px;
}
.bottom_border{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom:1px solid #80808042
}

.col-sm-12, .col-sm-6{
    padding-left: 0;
    padding-right: 0;
}

.float_right{
    float: right;
}
.text{
    font-size: 13px;
    color: gray;
}