<div class="col-sm-12">
    <div class="col-sm-12 mB15 mT15">
        <b> <span> Claim number:</span> <span>DX543291RDS</span></b>
    </div>

    <div class="col-sm-12">
        <p class="text_style">
            Your claim has been submitted and we're just checking the last few details. If your claim is
            approved, we will send you a shipping label so you can send your defective device for repair.
        </p>
        <p class="text_style">
            We will be back in touch within 1-2 working days with your claim decision.In the mintime
            you can check the status of your claim on your dashboard.
        </p>

        <p> <b>Decuribe fee </b><span></span></p>
        <hr>
        <p><span class="glyphicon glyphicon-ok-sign"></span><b>Thank you- your payment details have been Confirmed</b></p>
        <p class="centre"><img src="assets/imgs/payment.PNG" /></p>
        <p class="text_style">In the event you are unable to successfully submit your decribe payment. <a class="decoration">please contact us</a></p>
    </div>

    <div class="col-sm-12 p0">
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <b>Claim Details</b>
                </div>
                <div class="col-sm-6 p0">
                    <a href="#" class="right_text"><span class="glyphicon glyphicon-pencil font10"></span> <span class="text_blue display">Edit</span> </a>
                </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>     
        </div>
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Date of incident</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">12/9/2022</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Reasom of claim</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">My product is not functioning properly</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Description</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">Loream type is have </span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <b>Fullfillment Information Send to us</b>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_blue right_text">Need a Different Repair Options</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Delivery Address</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">2 cheeny Road, NA, 0210345</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <b>Personal Information</b>
            </div>
            <div class="col-sm-6 p0">
                <a href="#" class="right_text"><span class="glyphicon glyphicon-pencil font10"></span> <span class="text_blue display">Edit</span> </a>
            </div>
        </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style" >Full Name</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">2 cheeny Road, NA, 0210345</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Address</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">Sane Smith</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Email Address</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">Sane.Smith@gmail.com</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
    
        <div class="col-sm-12 p0">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="text_style">Contact Number</span>
            </div>
            <div class="col-sm-6 p0">
                <span class="text_style right_text">(7701) 552 0206</span>
            </div>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="col-sm-12 ">
            <div class="col-sm-6">
                <span>Claim History</span>
                <p> <span class="glyphicon glyphicon-ok-sign"></span><span>Claim Submitted</span></p>
                <p> Date Reported: <span>August 2nd, 2019</span></p>
            </div>
        </div>
        <div class="col-sm-12 mT30">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary">Go to Claim Dashboard</button>
            </div>
        </div>
    </div>
</div>