.mT30{
    margin-top: 30px;
}
.p0{
    padding: 0;
}
.claims{
    color: #0000ff8f;
    font-weight: bold;
    font-size: 13px;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.bold{
    font-weight: bold;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
select, input#price,input#date {
    width: 315px;
    border: 2px solid #8080803d;
    height: 25px;
    border-radius: 3px;
}
.font13{
    font-size: 13px;
}
.gray{
    color: gray;
}
.start_claim{
    width: 180px;
    border-radius: 25px;
    margin-left: 20%;
}

.font15{
    font-size: 15px;
}
.right p{
    float:right;
}
.mL10{
    margin-left: 10px;
}
.mT20{
    margin-top: 20px;
}